@model CXCConsultant.DocType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DocType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DocTypeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocTypeDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocTypeStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocTypeStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocTypeCountableAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocTypeCountableAccount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DocTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
