@model IEnumerable<CXCConsultant.Credit>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreditCutOffDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditBalanceAverage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.CustomerIC)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreditCutOffDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditBalanceAverage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.CustomerIC)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CreditID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CreditID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CreditID })
        </td>
    </tr>
}

</table>
